<h1>About Us</h1>
<p>Since we love trees and plants so much, we've decided to sell them to you!</p>
<p>You can buy all kinds of leafy greens here, and all proceeds will go towards planting more trees! Woohoo!</p>