<br>
<div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">Welcome to the JUNGLE! We've got fun and games! Well, actually we only have plants. But we have lots of them! Whether you are in store for evergreens, trees, or shrubs, we've got em all!</p>
  <hr class="my-4">
  <p>When you shop at Jungle, 100% of the proceeds to go planting more trees! Click here to shop now!</p>
  <p class="lead">
    <%= link_to 'Shop', '/', class: "btn btn-success" %>
  </p>
</div>